body {
    font-family: Arial, sans-serif;
}
h1{
    text-align: center;
    text-decoration:  underline rgb(0, 0, 0);
}
.container {
    width: 400px;
    margin: 10px auto;
    padding: 20px;
    background-color: rgb(199, 211, 201);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 5px;  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
input{
    height: 28px;
    width: 200px;
    margin-left: 66px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    padding: 2px 5px;

}

.delete {
    color: rgb(0, 0, 0);
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
}
#add-btn{
    height: 30px;
    width: 55px;
    font-size: 14px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    cursor: pointer;
}
